{{! edit blog form that displays the blog's data to edit with a submit button }}
<div class="column">
     <h1>Edit Blog</h1>
     <form id="editBlogForm" class="blog-post-edit">
          <label class="editLabels" for="title">Title</label>
          <input type="text" id="title" name="title" data-id="{{blog.id}}" value="{{blog.title}}" />
          <label class="editLabels" for="content">Content</label>
          <textarea id="content" name="content">{{blog.content}}</textarea>
          <input class="btn btn-primary" type="submit" value="Submit Changes" />
     </form>
</div>
<script src="/js/editBlog.js"></script>