{{!-- sign up form --}}
<div class="col-md-6">
     <h2 class="signup-title">Signup</h2>
     <h4 id="logInErr" style="display: none;"></h4>
     <form id="formSignUp">
          <div class="form-group">
               <label for="username" class="form-label">Name:</label>
               <input class="form-input" type="text" id="username" />

          </div>
          <div class="form-group">
               <label for="emailSignUp" class="form-label">Email:</label>
               <input class="form-input" type="text" id="emailSignUp" />
          </div>
          <div class="form-group">
               <label for="passwordSignUp" class="form-label">Password:</label>
               <input class="form-input" type="password" id="passwordSignUp" />
          </div>
          <div class="form-group">
               <button class="btn btn-primary" type="submit">Sign Up</button>
          </div>
     </form>
</div>
<script src="/js/signup.js"></script>